.Tabs {
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-height: 300px;
  width: 100%;
  max-width: 900px;
}

@media (max-width: 1000px) {
  .Tabs {
    width: auto;
    max-width: 100%;
  }
}

.Tabs-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
}

.Tabs-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap-reverse;
  position: relative;
  bottom: -3px;
}

.Tabs-button {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: var(--btn-primary);
  border: 2px solid var(--btn-primary);
  border-bottom-width: 0;
  padding: 10px 20px
}

.Tabs-button:active,
.Tabs-button:focus {
  outline: none;
}

.Tabs-button:hover {
  cursor: pointer;
  border-color: var(--btn-hover);
  background-color: var(--btn-hover);
}

.Tabs-button__active {
  color: var(--text-color);
  background-color: white;
}

.Tabs-button__active {
  cursor: default;
  pointer-events: none;
}